# Игнорирование файлов бинарников
*.exe
*.dll
*.so
*.dylib

# Игнорирование файлов пакета go
/bin/
/pkg/
/vendor/

# Игнорирование файлов конфигурации IDE
.idea/
.vscode/
*.swp

# Игнорирование файлов тестов и покрытия кода
*.test
*.out
*.cover

# Игнорирование файлов кеша
*.cache
*.log

# Игнорирование файла зависимостей Go
go.sum

# Игнорирование файла среды окружения
.env
